<script>
var images = [
'url(images/JoeySellers_05.png)',
'url(images/JoeySellers_clinician.png)',
'url(images/JoeySellers_composer.png)',
'url(images/JoeySellers_contact.png)',
'url(images/JoeySellers_menu.png)'
];

var size = images.length;
var rimg = images[Math.floor(size*Math.random())];

$('#imageheader').css('background-image', rimg);

$("li").removeClass('active');
$('#composer').addClass('active');
</script>
<h1>Composer</h1>
<p>
	Sellers has written for a wide variety of ensembles and soloists. Big Band, Oboe Trio, Trombone Quartet, Balloons, Orchestra ,Steel Pan, Wind Ensemble, Choral, percussion ensembles, and a host of other commissions -- both standard and absurd. He has received the 
	<strong>
		Gil Evans Fellowship In Jazz Composition
	</strong>
	, the 
	<strong>
		Sammy Nestico Award
	</strong>
	, and the 
	<strong>
		Julius Hemphill Award.
	</strong>
	Commissions include Doc Severinsen, the Lincoln Center Jazz Orchestra, symphony orchestras in Tulsa, Long Beach and San Antonio and several works for the St. Louis Brass. 
</p>
<p>
	Warner Brothers, Advance Music, and Hal Leonard have published his music and transcriptions. He has received grants from the American Music Center, Meet the Composer, and the National Endowment for the Arts. 
</p>
<p>
	A list of Sellers' music is available
	<a href="#/music">
		here
	</a>
	. 
</p>
<p>
	Available from 
	<a href="http://www.balquhiddermusic.com/catalog_balquhidder_music.htm" target="_new">
		Balquhidder Music
	</a>
	listed under Brass Quintet and Other Solos and Mixed Ensembles. 
</p>
