 <script>
$('#imageheader').css('background-image', 'url(images/JoeySellers_clinician.png)');
$("li").removeClass('active');
$('#educator').addClass('active');


</script>
 
 
 
  <h1>Educator and Clinician</h1> <p>&nbsp;</p> <p>Clinician</p>
  <p>Sellers did not enter the teaching field through the normal
  academic channels. Because he came late to the party of teaching in a
  structured, academic environment a bit later in life, his approach is
  flexible and changes depending on each unique circumstance. It was
  pointed out to him that he had taught in some capacity for many years
  without realizing it, and due to this, he teaches to each situation
  uniquely. </p> <p>Though he finds new avenues of creativity open
  frequently, in previous presentations, he has enjoyed teaching in the
  following capacities: <ul><li>Clinician with Big Band</li>
  <li>Clinician with Combos</li> <li>Creative Approaches to
  Improvisation in a Harmonic, Melodic, or Rhythmic capacity</li>
  <li>Creative Approaches to Improvisation in a &quot;Free&quot;
  Conception</li> <li>Jazz History – Cultural, Sonic, Individualistic,
  Rhythmic</li> <li>Discussion/Lecture on his approaches to
  composition</li> </ul> </p>

<blockquote><div class="quote">I have never been in such a relaxed atmosphere to play,
particularly jazz. Joey make jazz seem more like an art, like playing
music is like painting. It was cool and it made me think. It opened
doors for me. Jazz is not just notes with impossible rhythms. He
illustrated that well, and I thank him for it.</div>

<div class="attribution">&mdash;Louisa Sanders,  High School Student, Northern Illinois University
Jazz Camp</div></blockquote>


<blockquote><div class="quote">Sellers' accomplishments as a performer, composer in both
the Western European and African American traditions, and educator make
him well suited to clinics, master classes or recitals on a wide array
of subjects. He has presented hundreds of clinics nation-wide, including
the Eastman School of Music, New England Conservatory, and other
prestigious institutions.</div></blockquote>



<blockquote><div class="quote">Joey Sellers is one of the leading voices in jazz
composition and in jazz improvisation on trombone . . .In his
presentation at [the] New England Conservatory, Joey showed an
impressive ability to communicate complex musical ideas very clearly and
efficiently (with great enthusiasm and energy, and a wonderful sense of
humor)...</div>
<div class="attribution">&mdash;Allan Chase, Dean of Faculty, New England Conservatory of
Music</div></blockquote>

