<script>

var images = [
'url(images/JoeySellers_bluewhale.png)',
'url(images/JoeySellers_05.png)',
'url(images/JoeySellers_clinician.png)',
'url(images/JoeySellers_composer.png)',
'url(images/JoeySellers_contact.png)',
'url(images/JoeySellers_menu.png)',
'url(images/JoeySellers_performer_1.png)',
'url(images/JoeySellers_performer_2.png)',
'url(images/JoeySellers_performer_3.png)',
'url(images/20160628-cf-bw-100.png)',
'url(images/20160628-cf-bw-103.png)',
'url(images/20160628-cf-bw-109.png)',
'url(images/20160628-cf-bw-102.png)',
'url(images/20160628-cf-bw-112.png)',
'url(images/20160628-cf-bw-116.png)'
];

var size = images.length;
var rimg = images[Math.floor(size*Math.random())];

$('#imageheader').css('background-image', rimg);

$("li").removeClass('active');
</script>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <p class="lead">
          Welcome to the Joey site. We hope this will make it easier for you to find access to Joey's compositions, creative ideas, recorded music, press kit, upcoming gigs and general information that may be of interest or value to you. You will find a new idea every two weeks to use in your teaching in the educator section, and recent compositions will be listed in the composer section. Thanks for your interest in this music, and please contact us if you've any questions.
          </p>
            </div>
        <div class="col-md-5 col-sm-12">  
        <iframe src="https://www.google.com/calendar/embed?title=Upcoming%20Events&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=88iqk6gmu99m34kl2itcma2o8o%40group.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FLos_Angeles" style=" border-width:0 ; " width="100%" height="500px" frameborder="0"  "></iframe>
       </div>
       </div>
       



      <div class="row">