

<h1>Music Available from Joey Sellers</h1>
address: <address> 26891 Peraza Lane<br/>
Mission Viejo, CA 92691</address>

call: <a href="tel: +1 (949) 595-4490">(949) 595-4490</a><br/>
email: <a href="mailto:JSELTRB@aol.com">JSELTRB@aol.com</a>



<div id="music-catalog">
  <h3>Big Band</h3>
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Epic Pepper Queen</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">5,4,4, 4. Commissioned by Young Sounds of Arizona and Meet The Composer. Winner of the Sammy Nestico Award. Premiered professionally by the Airmen of Note.</div>
</div>
  
  
  
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Durango Curve</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">5,4,4,4. Free medium-up (or not) modal romp where the group or leader determines sections. Wide open.</div>
</div>
  
   
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Ximeno, 735</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">5,4,4,4.Adapted from the Jazz Aggregation original and fleshed out for big band. Up, modal, exciting. Alto I and piano solos</div>
</div>
  
    
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Neophytic Gum Shoes</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">5,4,4,4.Commissioned by the Arizona All State High School Big Band 2009. Up-tempo modal romp.</div>
</div>
  
    
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Requiems</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">5,4,4,4 and trumpet soloist. Written for Wayne Bergeron&rsquo;s CD &ldquo;Plays Well With Others&rdquo; for Concord Records, 2007. A poignant ballad that requires high notes from the soloist at the end.</div>
</div>
  
   
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Skinny Widow Stomp</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">5,4,4,4. Commisisoned by Chris Merz and University of Northern Iowa Jazz Band I. Accidental twelve tone row treatment of a hip hop groove. Lengthy Bone I and Alto I solos. Challenging.</div>
</div>
  
    
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Miss Rogers&rsquo; Boots</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">5,4,4,4. Commissioned by the Airmen of Note, this cockeyed rhythm changes tune features lengthy blowing for trombone and alto sax.</div>
</div>
  
    
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Bigawaga Suite</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">5,4,4,4 and Bass trombone (or tuba) soloist. Commissioned by Dave Taylor, this two-movement suite features a fast angular modal section and a slow 3/4 blues.</div>
</div>
  
    
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Arabic Shepherds Praying</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">5,4,4,3 and trombone (or other) soloist. Commissioned by the University of Northern Colorado and Dr. Nat Wickham, this harmonically and rhythmically adventurous exploration requires a strong rhythm section.</div>
</div>
  
   
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Screaming Seeding Scholars</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">5,4,4,4. A shuffle blues written for Doc and the Tonight Show Band.</div>
</div>
  
    
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Candlelight</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">5,4,4,4. A  &ldquo;&lsquo;Lil Darlin&rdquo; sort of thing written for Doc and the Tonight Show Band.</div>
</div>
  
    
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Fools Rush In</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">5,4,4,4. Slow swinging version with bass and trombone solos</p></div>
</div>
  
    
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Just In Time</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Vocal chart with big band.</p></div>
</div>
  
   
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">I&rsquo;ve Grown Accustomed To Her Face</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0"> Vocal Chart with big band.</div>
</div>
  
   
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Blame It On My Youth</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Vocal Chart with big band.</p></div>
</div>
  
    
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">All Blues</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">In four with various treatments possible.</div>
</div>
  
   
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">Kishwaukee Blues</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Slow bluesy sort of thing. Easy.</div>
</div>
  
   
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">LVB 9</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Fast waltz treatment of &ldquo;Ode to Joy&rdquo; theme from Beethoven&rsquo;s 9th symphony.</div>
</div>
  
    
<div class="op row">
<div class="chart-title col-md-4 col-sm-12">As It Were</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Big Band adaption from the Jazz Aggregation library of a slow, haunting twelve-tone row based theme.</div>
</div>
  
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">rare transcriptions from the 1930s; Other big band material</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">available with Sellers as guest artist</div>
</div>

<h3>Eleven-piece band (Written for the Jazz Aggregation) 3,2,3,3.</h3>
  
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">As It Were</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">This slow waltz&rsquo; melody is a haunting twelve-tone row exploration of texture. Recorded on 9Winds&rsquo; &ldquo;Pastels, Ashes.&rdquo;</div>
</div>
  
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Canadian Bacon</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Medium up modal with lots of blowing space. Recorded on 9Winds&rsquo; &ldquo;Something For Nothing.&rdquo;</div>
</div>
  
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Jay-Gale</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Your basic pretty, medium waltz. Recorded on &ldquo;Something For Nothing.&rdquo;</div>
</div>
  
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Ximeno, 735</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Exciting medium-up modal trek. Recorded on &ldquo;Pastels, Ashes&rdquo; featuring Kim Richmond and Kei Akagi.</div>
</div>
  
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Marie</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Trumpet Ballad. Recorded on &ldquo;Pastels, Ashes&rdquo; featuring Clay Jenkins</div>
</div>
  
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Ecclesiastes</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Medium understated minorish. Recorded on &ldquo;Something For Nothing&rdquo; featuring Bruce Fowler and John Schroeder.</div>
</div>




  <h3>Brass Quintet </h3>
  
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Three Brief Missives and One Tale</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Commissioned by the Los Angles Brass Quintet.</div>
</div>
  
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Brass Quintet # 1</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Commissioned by NY Cinque</div>
</div>
  
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Fanfare et Caprice</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Commissioned by the St. Louis Brass</div>
</div>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Sweet Georgia Brown</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Commissioned by the St. Louis Brass; available from Balquhidder Music. Recorded on &ldquo;Music of the Americas.&rdquo;</div>
</div>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">When Sunny Gets Blue</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Commissioned by the St. Louis Brass; available from Balquhidder Music. Recorded on &ldquo;Music of the Americas.&rdquo;</div>
</div>
    

  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Other material recorded by the St. Louis Brass</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">available on request.</div>
</div>



<h3>Trombone Quartet</h3>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Wars</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Commissioned by the Nautilus Quartet—Five Movements</div>
</div>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Trombone Quartet #2</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Advanced techniques – multi phonics, singing, half-slide, bell only. Challenging</div>
</div>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Haiku du Penelope</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Commissioned by the Algonquin Quartet—with spoken  parts.</div>
</div>
   
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Balloon Piece</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">This entertaining romp uses balloons attached to parts of the trombone and played separately</div>
</div>

  <div class="op row">
<div class="chart-title col-md-4 col-sm-12"> Procesion de Susana</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Wedding Processional</div>
</div>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Amadores</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Wedding Ballad</div>
</div>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Other material performed by the Algonquin Quartet ( Joe Fiedler, Conrad Herwig, Sellers, Dave Taylor)
</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">available on request   </div>
</div>

  <h3>Trombone Duet</h3>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Two As One</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0"></div>
</div>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Three Now</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0"></div>
</div>

  <h3>Various Chamber</h3>
  
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Piece for Horn and Flute</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Three movements please order from Balquhidder Music</div>
</div>
  <p>&nbsp;</p>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Sibling Ditties for Horn and Trombone</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">several short movements written for my Sister&rsquo;s birthday</div>
</div>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Aperitif, Tale, Digression, and Entrée for Tuba &amp; Clarinet</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Commissioned by Sam Pilafian; Four movements.</div>
</div>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Two Births and a Childhood for Large Flute Choir</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Three movements.</div>
</div>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Eventas Maderas</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Commissioned by the Madera Oboe Trio</div>
</div>


  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Three Essays/Four Saxophones</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Commissioned by Steve Duke and the Northern Illinois University Saxophone Quartet</div>
</div>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Percussion Quartet</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Challenging work commissioned by Base4. Includes thrown tennis balls on the timpani, paper airplanes, water and other bells and whistles. Fun and challenging.</div>
</div>



  <h3>Various Large Ensemble</h3>

    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Concerto for Jazz Piano and Orchestra</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Composed by and available from Chuck Marohnic; orchestration by Sellers</div>
</div>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Odd Children: Piece for Marimba and Wind Ensemble</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Commissioned by Northern Illinois University and Robert Chappell</div>
</div>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Three Fantasies for Steelpan and Orchestra</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Commissioned by Liam Teague</div>
</div>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Lament</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">Commissioned by Gregory Boyer and the McFadden Middle School Wind Ensemble</div>
</div>


  <h3>Vocal</h3>
    
  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Mercy, Grace, Love</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">SATB</div>
</div>


  <div class="op row">
<div class="chart-title col-md-4 col-sm-12">Christmas Is Near</div>
<div class="description col-md-8 col-sm-10 col-sm-offset-2 col-md-offset-0">SATB</div>
</div>


</div>
