 
<div id="lightTable">
	<p>
		The following photos are available for marketing and promotional purposes. Clicking on a photo will begin a download of a high-resolution version of the photo.
	</p>

<div class="col-md-4">
		<a href="images/PublicityPhotos/JoeySellers_01.tif">
			<img src="images/PublicityPhotos/thumbnails_small/JoeySellers_01.png" width="213" height="320">
		</a>
</div>
<div class="col-md-4">
		<a href="images/PublicityPhotos/JoeySellers_02.tif">
			<img src="images/PublicityPhotos/thumbnails_small/JoeySellers_02.png" width="213" height="320">
		</a>
		</div>
<div class="col-md-4">
		<a href="images/PublicityPhotos/JoeySellers_03.tif">
			<img src="images/PublicityPhotos/thumbnails_small/JoeySellers_03.png" width="213" height="320">
		</a>
		</div>
<div class="col-md-4">
		<a href="images/PublicityPhotos/JoeySellers_04.tif">
			<img src="images/PublicityPhotos/thumbnails_small/JoeySellers_04.png" width="320" height="213">
		</a>
		</div>
<div class="col-md-4">
		<a href="images/PublicityPhotos/JoeySellers_05.tif">
			<img src="images/PublicityPhotos/thumbnails_small/JoeySellers_05.png" width="320" height="213">
		</a>
		</div>
<div class="col-md-4">
		<a href="images/PublicityPhotos/JoeySellers_07.tif">
			<img src="images/PublicityPhotos/thumbnails_small/JoeySellers_07.png" width="320" height="213">
		</a>
		</div>
<div class="col-md-4">

</div>
